body{
  display: block;
  min-height: 100vh;
}

main{
  width: 90%;
  height: max-content;
  margin: 0 auto;
  margin-bottom: auto;
  background-color: #e9ecef;
}

#titulo__cadastro{
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main img{
  height: 20px;
}

.campos{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.campos label{
  font-size: 18px;
  color: #0b156d;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.botao{
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

#btn__submit{
  color: #007bff;
  border: 1px solid #007bff;
}

#btn__reset{
  color: #6c757d;
  border: 1px solid #6c757d;
}

#btn__submit:hover{
  transition: 0.5s;
  color: white;
  background-color: #007bff;
}

#btn__reset:hover{
  transition: 0.5s;
  color: white;
  background-color: #6c757d;
}

@media(max-width:500px){
  main{
      width: 100%;
      padding: 50px 20px;
  }

  #titulo__cadastro{
      gap: 20px;
  }
}
