.wrapper__nome {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.wrapper__nome h1{
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#titulo__grupo {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 56, 255, 0.05);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

nav img {
    height: 20px;
}

.wrapper__nome img{
    height: 30px;
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imagem{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem img{
    padding: 15px;
    border-radius: 10px;
    background: #F2F5FF;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    transition: ease-out .2s;
}

.imagem img:hover,
.imagem img:active{
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

.informacoes{
    margin-top: 10px;
    width: 50%;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
}

.grupos__pertencentes, .rotinas__pertencentes{
    width: 100%;
    height: 300px;
}

.containers {
    margin: 5px auto;
    height: 80%;
    width: 90%;
    padding: 13px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    background: #F2F5FF;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.containers::-webkit-scrollbar {
	/* width of the entire scrollbar */
	width: 8px;
}

.containers::-webkit-scrollbar-track {
	/* color of the tracking area */
	background: transparent;
}

.containers::-webkit-scrollbar-thumb {
	/* roundness of the scroll thumb */
	border-radius: 20px;
	/* color of the scroll thumb */
	background-color: rgba(128, 128, 128, 0.5);
}

.grupos__pertencentes h2, .rotinas__pertencentes h2{
    margin-left: 20px;
}

.campo__informacoes{
    padding: 10px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.campo__informacoes p{
    overflow: hidden;
    text-overflow: ellipsis;
}

.campo__informacoes a{
    padding: 5px;
    display: grid;
    place-items: center;
    text-decoration: none;
    color: #000;
}

.campo__informacoes a:visited{
    color: #000;
}

.campo__informacoes img{
    height: 25px;
}

.excluir{
    margin: 0 55px;
    width: max-content;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #000;
    background-color: #D75A4A;
    transition: ease-out .2s;
}

.excluir:hover{
    background: #963B2F;
}

.excluir:visited{
    color: #000;
}

.excluir img{
    height: 20px;
}

@media(max-width:1090px){
    .imagem img{
        height: 400px;
    }
}

@media(max-width:830px){
    .imagem, 
    .informacoes{
        width: 100%;
    }

    .imagem img{
        height: 500px;
    }

    .grupos__pertencentes, 
    .rotinas__pertencentes{
        margin: 0 auto;
        max-height: 300px;
        width: 90vw;
    }
    
    .grupos__pertencentes h2, 
    .rotinas__pertencentes h2{
        margin: 0;
    }

    .grupos,
    .rotinas{
        margin: 0;
        width: 100%;
    }
}

@media(max-width:500px){
    .imagem img{
        margin: 0;
        height: 250px;
    }

    .informacoes{
        align-items: center;
    }
}