
body {
    justify-content: unset;
}

a {
    text-decoration: none;
    color: #000;
}

.remover {
    align-self: flex-end;
    margin-right: 20px;
}

.icon_remover {
    height: 20px !important;
    opacity: 0%;
    transition: all .2s linear;
}

.wrapper__nome {
    width: 80%;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.wrapper__nome h1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%;
}   

#editar {
    font-size: 1.5em;
    cursor: pointer;
}

#titulo__grupo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 56, 255, 0.05);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    margin-bottom: 20px;
}

nav img {
    height: 20px;
}

.wrapper {
    flex-wrap: wrap;
    margin-top: 60px;
    padding: 0 40px;
}

.wrapper__nome img{
    height: 30px;
}
.container_lampadas {
    max-width: 100%;
    flex-wrap: wrap;
    min-height: 260px;
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulo img{
    height: 50px;
}
.card {
    flex: 2 1 auto;
	min-width: 300px;
	border-radius: 10px;
	font-size: 35px;
	display: flex;
	color: #000;
	text-decoration: none;
	align-items: center;
	background: rgba(0, 56, 255, 0.05);
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.card__lampada {
	padding-bottom: 20px;
	flex-direction: column;
}

.card__lampada:hover .icon_remover {
    opacity: 100%;
}

.card__lampada img {
	height: 150px;
	cursor: pointer;
}

#novoNome {
    width: 250px;
}

@media(max-width:500px){
    .card{
	    min-width: 200px;
    }
}