main {
	margin: 20px 0;
	display: flex;
	flex: auto;
	flex-direction: column;
	gap: 40px;
}

.containers {
	margin: 0 40px;
	padding: 0 15px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	background-color: rgba(128, 128, 128, 0.08);
}

.header__slider {
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__slider img {
	height: 50px;
}

.slide {
	width: 100%;
	padding: 20px 10px;
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 30px;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-padding: 20px;
	scrollbar-width: none;
}

.slide::-webkit-scrollbar {
	/* width of the entire scrollbar */
	height: 8px;
}

.slide::-webkit-scrollbar-track {
	/* color of the tracking area */
	background: transparent;
}

.slide::-webkit-scrollbar-thumb {
	/* roundness of the scroll thumb */
	border-radius: 20px;
	/* color of the scroll thumb */
	background-color: rgba(128, 128, 128, 0.5);
}

.card {
	min-width: 300px;
	border-radius: 10px;
	font-size: 35px;
	display: flex;
	color: #000;
	text-decoration: none;
	align-items: center;
	background: rgba(0, 56, 255, 0.05);
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.card__lampada {
	padding: 20px 0;
	flex-direction: column;
}

.card__lampada img {
	height: 150px;
	cursor: pointer;
}

.card__grupo {
	max-width: 300px;
	padding: 15px 0;
	flex-wrap: wrap;
	justify-content: space-around;
}

.card__grupo img {
	height: 100px;
}

.page__titulo {
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.card__lampada a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-decoration: none;
	color: black;
}

.card__lampada p {
	max-width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card__lampada a:visited {
	color: black;
}

.page__titulo p {
	max-width: 70%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card__grupo a {
	text-align: center;
	color: #000;
}

/* Switch */
.switch {
	margin-bottom: 25px;
	width: 80px;
	height: 44px;
	position: relative;
	display: inline-block;
}

.switch input {
	width: 0;
	height: 0;
	opacity: 0;
}

.slider {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 34px;
	position: absolute;
	cursor: pointer;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider::before {
	content: "";
	height: 32px;
	width: 32px;
	left: 4px;
	bottom: 6px;
	border-radius: 50%;
	position: absolute;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #02CB3A;
}

input:checked+.slider::before {
	-webkit-transform: translateX(40px);
	-ms-transform: translateX(40px);
	transform: translateX(40px);
}

@media(max-width: 440px) {
	.containers {
		padding: 0 10px;
		margin: 0 15px;
	}

	.slide {
		padding: 20px 10px;
	}

	.card {
		min-width: 200px;
	}

	.card__grupo,
	.page__titulo {
		margin: 0;
		min-width: 200px;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		gap: 15px;
	}

	.card__grupo img {
		height: 150px;
	}

	.switch {
		margin: 0;
	}
}