body{
    display: block;
    max-height: 100vh;
    overflow: hidden;
}

main{
    width: 90%;
    height: max-content;
    margin: 0 auto;
    margin-bottom: auto;
    background-color: #e9ecef;
    padding: 50px 40px;
    
}

#titulo__cadastro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

main img{
    height: 20px;
}

.campos{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.campos label{
    font-size: 18px;
    color: #0b156d;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.campos input, select{
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    outline: 0;
}

.botao{
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}

#btn__submit{
    color: #007bff;
    border: 1px solid #007bff;
}

#btn__reset{
    color: #6c757d;
    border: 1px solid #6c757d;
}

#btn__submit:hover{
    transition: 0.5s;
    color: white;
    background-color: #007bff;
}

#btn__reset:hover{
    transition: 0.5s;
    color: white;
    background-color: #6c757d;
}

@media(max-width:500px){
    main{
        width: 100%;
        padding: 20px 20px;
    }

    #titulo__cadastro{
        gap: 20px;
        margin-bottom: 20px;
    }
}