.imagem {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem img {
    padding: 15px;
    border-radius: 10px;
    background: #F2F5FF;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    transition: ease-out .2s;
}

.imagem img:hover,
.imagem img:active {
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

.informacoes {
    margin-top: 10px;
    width: 50%;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
}

.grupos__pertencentes, .rotinas__pertencentes {
    width: 100%;
    height: 300px;
}

.header__slider img {
    margin-right: 30px;
    height: 30px;
}

.containers {
    margin: 5px auto;
    height: 80%;
    width: 90%;
    padding: 13px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    background: #F2F5FF;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.containers::-webkit-scrollbar {
	/* width of the entire scrollbar */
	width: 8px;
}

.containers::-webkit-scrollbar-track {
	/* color of the tracking area */
	background: transparent;
}

.containers::-webkit-scrollbar-thumb {
	/* roundness of the scroll thumb */
	border-radius: 20px;
	/* color of the scroll thumb */
	background-color: rgba(128, 128, 128, 0.5);
}

.grupos__pertencentes h2, .rotinas__pertencentes h2 {
    margin-left: 20px;
}

.campo__informacoes {
    padding: 10px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.campo__informacoes p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.campo__informacoes a {
    padding: 5px;
    display: grid;
    place-items: center;
    text-decoration: none;
    color: #000;
}

.campo__informacoes img {
    height: 25px;
}

.campo__informacoes .links {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

/* Media Query */
@media(max-width:1090px) {
    .imagem img {
        height: 400px;
    }
}

@media(max-width:830px) {
    .imagem, 
    .informacoes {
        width: 100%;
    }

    .imagem img {
        height: 500px;
    }

    .header__slider img {
        margin: 0;
    }    

    .grupos__pertencentes, 
    .rotinas__pertencentes {
        margin: 0 auto;
        max-height: 300px;
        width: 90vw;
    }
    
    .grupos__pertencentes h2, 
    .rotinas__pertencentes h2 {
        margin: 0;
    }

    .containers {
        margin: 0;
        width: 100%;
    }
}

@media(max-width:500px) {
    .imagem img {
        margin: 0;
        height: 250px;
    }

    .informacoes {
        align-items: center;
    }
}