main{
  margin: 0 auto;
  width: 90%;
  height: max-content;
  padding: 30px 40px;
  background-color: #E9ECEF;
}

#titulo__cadastro{
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#titulo__cadastro img{
  height: 20px;
}

.campos{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.campos input, select{
  width: 100%;
  height: 35px;
  padding: 6px 12px;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  color: #495057;
  background-color: #FFF;
  outline: 0;
}

.campos label{
  font-size: 18px;
  color: #0B156D;
  font-weight: 700;
  margin-bottom: 8px;
}

.card{
  min-width: 150px;
  max-width: 150px;
  height: 200px;
  padding: 15px 10px;
  flex-direction: column;
  gap: 10px;
  font-size: 25px;
}

.card p{
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__lampada img{
	height: 120px;
	cursor: pointer;
}

.botao{
  margin-top: 20px;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 18px;
  text-align: center;
}

#btn__submit{
  color: #007BFF;
  border: 1px solid #007BFF;
}

#btn__reset{
  color: #6C757D;
  border: 1px solid #6C757D;
}

#btn__submit:hover{
  color: #FFF;
  background-color: #007BFF;
  transition: 0.5s;
}

#btn__reset:hover{
  color: #FFF;
  background-color: #6C757D;
  transition: 0.5s;
}

/* Rotinas e Grupos */
.opcoes{
  margin: 15px 0;
  padding: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 10px;
}

.opcao{
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.opcao img{
  height: 125px;
}

.opcao:hover, input[type="checkbox"], 
.opcao label{
  cursor: pointer;
}

.opcao label{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

input[type="checkbox"]{
  display: none;
  position: absolute;
  border-radius: 5px;
  min-height: 50px;
  min-width: 50px;
}

.opcao:has(input[type="checkbox"]:checked) { 
  opacity: 0.8;
}

input[type="checkbox"]:checked ~.card{
  border: 2px solid rgb(116, 116, 192);
}

.opcao__row{
  width: 90%;
  height: max-content;
  gap: 10px;
  border-radius: 5px;
}

.card__row{
  min-width: 100%;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
}

.card__row p {
  width: 300px;
}

.card__row img{
  margin-right: 5px;
  height: 20px;
}

/* Rotina */
.campos input[type=time]{
  margin: 0 15px;
  width: 100px;
}

.campo__horario{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.campo{
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 290px;
}

/* Media Query */
@media(max-width:500px){
  main{
    width: 100%;
    padding: 20px 10px;
  }

  #titulo__cadastro{
    gap: 20px;
  }

  .card{
  padding: 15px 5px;
  }
}

@media(max-width: 440px) {
  main{
    padding: 20px 10px;
  }

  .opcoes{
    justify-content: center;
  }

  .card{
    padding: 15px 10px;
  }
}