* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header,
footer {
	width: 100%;
	display: flex;
	background-color: #1f4e96;
	color: #fff;
}

header {
	height: 90px;
	padding: 5px 65px;
	align-items: center;
}

#container__logo {
	width: 75px;
	height: 75px;
}

#logo {
	height: 100%;
}

footer {
	height: 25vh;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

footer h3 {
	margin: 10px 0;
	font-size: 1.3em;
}

footer p {
	margin: 0 15px;
}

footer a {
	margin: 15px 0;
	text-decoration: none;
	color: #FFF;
}

footer a:hover {
	text-decoration: underline;
}

footer span {
	margin: 15px 0;
	padding: 10px 0 0;
	border-top: 1px solid #FFF;
	width: 90%;
}