.remover {
    margin-right: 30px;
    align-self: flex-end;
}

.icon_remover {
    opacity: 0;
    height: 20px !important;
    transition: all .2s linear;
}

.content {
    margin: 30px auto;
    padding: 0 40px;
    flex-direction: column;
}

.container_lampadas {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.header__slider img {
	height: 50px;
}

.card__lampada:hover .icon_remover {
    opacity: 100%;
}

@media(max-width:340px){
    .card{
        min-width: 200px;
    }
}