.page{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.26);
    backdrop-filter: blur(2px);
    transform: translate(-50%, -50%);
}

.modal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    border-radius: 15px;
    width: 500px;
    height: max-content;
    display: flex;
    flex-direction: column;
    z-index: 20;
    background-color: #E9ECEF;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.modal.desativar{
    display: none;
}

.modal.apagar, .page.remover{
    display: none;
}

.texto{
    width: 100%;
    height: 50px;
    padding: 0 5px;
    border-bottom: 1px solid #BFC2C5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo{
    font-size: 20px;
}

.close img{
    height: 20px;
    cursor: pointer;
}

.simbolo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.simbolo img{
    height: 100px;
}

.botaoModal{
    width: 100%;
    height: 50px;
    border-top: 1px solid #BFC2C5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#botao, #salvar{
    margin: 5px;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    line-height: 1.5;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    transition: all .15s ease-in-out;
}

#erro .botaoModal #botao{
    color: #fff;
    background-color: #D75A4A;
    border-color: #D75A4A;   
}

#erro .botaoModal #botao:hover{
    background-color: #963B2F;
    border-color: #963B2F;
}

#sucesso .botaoModal #botao,
.formsModal #salvar{
    color: #FFF;
    background-color: #25AE88;
    border-color: #25AE88;
}

#sucesso .botaoModal #botao:hover,
.formsModal #salvar:hover{
    background-color: #176E55;
    border-color: #176E55;
}

.aviso{
    height: 50px;
    padding: 16px;
    border-radius: 5px;
    text-transform: initial;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aviso__sucesso{            
    color: #0f5132;
    background-color: #d1e7dd;
}

#aviso__erro{
    color: #842029;
    background-color: #f8d7da;
}

.campos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formsModal{
    width: 100%;
    padding: 25px;
}

.formsModal #salvar{
    width: 100px;
}

.formsModal form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formsModal form label{
    margin: 5px;
    font-weight: bold;
}

.formsModal form input{
    width: 70%;
    height: 25px;
    border: 1px solid #CED4DA;  
    color: #495057;
}

@media (max-width:500px){
    .modal{
        width: 300px;
    }

    .formsModal form input{
        width: 100%;
    }    
}