* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {
	max-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header,
footer {
	width: 100%;
	display: flex;
	background-color: #1f4e96;
	color: #fff;
}

header {
	height: 90px;
	padding: 5px 65px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

header a {
	text-decoration: none;
	color: #FFF;
}

#container__logo {
	height: 75px;
	display: flex;
	align-items: center;
}

#container__logo h1 {
	margin: 0 10px;
}

#logo {
	height: 100%;
}

.menu {
	width: 300px;
	display: flex;
	justify-content: space-around;
}

.menu a {
	display: flex;
	align-items: center;
	font-size: 1.15em;
	transition: .2s;
}

.menu a:hover{
	border-bottom: 1px solid #FFF;
}

.menu img {
	height: 20px;
	filter: invert(100%);
}

#responsive-menu {
	position: absolute;
	visibility: hidden;
	opacity: 0;
}

/* Card */
.card {
	min-width: 300px;
	border-radius: 10px;
	font-size: 35px;
	display: flex;
	color: #000;
	text-decoration: none;
	align-items: center;
	background: rgba(0, 56, 255, 0.05);
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.card__lampada {
	padding: 20px 0;
	flex-direction: column;
}

.card__lampada img {
	height: 150px;
	cursor: pointer;
}

.card a {
	text-decoration: none;
	text-align: center;
	color: #000;
}

.card a p,
.page__titulo p {
	width: 180px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.header__slider {
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Media Query */
@media(max-width:768px) {
	header {
		padding: 5px 40px;
	}

	.responsive-menu:before{
		content: "";
		display: block;
		height: 3px;
		background: #FFF;
	}

	.responsive-menu{
		width: 30px;
		padding: 5px 0;
		border: solid;
		border-width: 3px 0;
		cursor: pointer;
	}

	.menu{
		visibility: hidden;
		position: absolute;
		left: 75%;
		top: 90px;
		width: 25%;
		height: 150px;
		flex-direction: column;
		background: #1A427D;
	}

	#responsive-menu:checked ~.menu{
		visibility: inherit;
	}

	.menu a {
		padding-left: 20px;
		height: 75px;
	}
	
	.menu a:hover, .menu a:active{
		border: 0;
		background: #122E57;
	}
}

@media(max-width:500px) {
	#container__logo h1{
		font-size: 1.6em;
	}

	.menu{
		left: 0;
		width: 100%;
	}
}